{% extends "base.html" %}{% load static %}  {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}" />

<div class="task-container">
    <div class="header-bar">
        <a href="{% url 'tasks' %}" style="color: #fff;">&#8592; Back</a>
    </div>

    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %} 
            {{form.as_p}}
            <input class='task-button' type="submit", value="Submit">
        </form>
    </div>
    
</div>

{% endblock content %}