{% extends "base.html" %}{% load static %}  {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}" />

<div class="task-container">
    <div class="header-bar">
        <a href="{% url 'tasks' %}">&#8592; Back</a>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %} 
            <p>Are you sure you want to delete this task? "{{task}}"</p>
            <input class='task-button' type="submit" value="Delete" />
        </form>
    </div>
</div>



{% endblock content %}