{% extends "base.html" %} {% load static %} {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />

    <script src="{% static 'js/auth.js' %}"></script>

    <div class="content-container">
        <div id='tabs'>
            <div id='tabs_container'>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active tab_button_small" onclick="change_tab(0)" id="home-tab"
                            data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home"
                            aria-selected="true">User</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab_button_small" onclick="change_tab(1)" id="profile-tab"
                            data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                            aria-selected="false">Tarrif</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab_button_small" onclick="change_tab(2)" id="contact-tab"
                            data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                            aria-selected="false">Card</button>
                    </li>
                </ul>
            </div>
        </div>
    
        <!--USER INFO-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <div class="col-12 center">
                        <h1 class="margin-auto">User</h1>
                    </div>
                    <form>
                        <div>
                            <div class="col-8 center  flex_columns">
                                <div class="col-6 small_display_false">
                                    <div class="form_block">
                                        <span>First name</span>
                                        <input class="form-control" id="first" type="text" onblur="checkFirst();" required>
                                        <span id="first_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Last name</span>
                                        <input class="form-control" id="last" type="text" onblur="checkLast();" required>
                                        <span id="last_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Birthday</span>
                                        <input class="form-control" id="date" type="date" required="">
                                    </div>
                                    <div class="form_block">
                                        <span>Email</span>
                                        <input class="form-control" id="email" type="text" onblur="checkEmail();" required>
                                        <span id="email_Check"></span>
                                    </div>
                                </div>
                                <div class="col-6 small_display_false">
                                    <div class="form_block">
                                        <span>Sex</span><br>
                                        <input type="radio" name="fav_language" value="CSS" class="radio_button"
                                            required><span> Male</span>
                                        <input type="radio" name="fav_language" value="CSS" class="radio_button"><span>
                                            Female</span>
                                    </div>
                                    <div class="form_block">
                                        <span>Payment method</span><br>
                                        <select class="form-control" name="paymethod" id="paymethod" required>
                                            <option>Cash</option>
                                            <option>Card</option>
                                            <option>PayPal</option>
                                        </select>
    
                                    </div>
                                    <div class="form_block">
                                        <span>Password</span>
                                        <input class="form-control" id="pswd" type="password" onblur="checkPassword();"
                                            required>
                                        <span id="pswd_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Repeat password</span>
                                        <input class="form-control" id="pswd2" type="password" onblur="check();" required>
    
                                        <span id="pswd_check_2"></span>
                                    </div>
                                    <div class="form_block">
                                        <input type="submit" value="Next Section" id="summary" action="#tarrif">
                                    </div>
    
                                </div>
                                <div class="big_display_none">
                                    <div class="form_block">
                                        <span>First name</span>
                                        <input class="form-control" id="first" type="text" onblur="checkFirst();" required>
                                        <span id="first_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Last name</span>
                                        <input class="form-control" id="last" type="text" onblur="checkLast();" required>
                                        <span id="last_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Birthday</span>
                                        <input class="form-control" id="date" type="date" required="">
                                    </div>
                                    <div class="form_block">
                                        <span>Email</span>
                                        <input class="form-control" id="email" type="text" onblur="checkEmail();" required>
                                        <span id="email_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Sex</span><br>
                                        <input type="radio" name="fav_language" value="CSS" class="radio_button"
                                            required><span> Male</span>
                                        <input type="radio" name="fav_language" value="CSS" class="radio_button"><span>
                                            Female</span>
                                    </div>
                                    <div class="form_block">
                                        <span>Payment method</span><br>
                                        <select class="form-control" name="paymethod" id="paymethod" required>
                                            <option>Cash</option>
                                            <option>Card</option>
                                            <option>PayPal</option>
                                        </select>
    
                                    </div>
                                    <div class="form_block">
                                        <span>Password</span>
                                        <input class="form-control" id="pswd" type="password" onblur="checkPassword();"
                                            required>
                                        <span id="pswd_Check"></span>
                                    </div>
                                    <div class="form_block">
                                        <span>Repeat password</span>
                                        <input class="form-control" id="pswd2" type="password" onblur="check();" required>
    
                                        <span id="pswd_check_2"></span>
                                    </div>
                                    <div class="form_block">
                                        <input type="submit" value="Next Section" id="summary" action="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!--TARIFF INFO-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div>
                    <div class="col-12 center">
                        <h1 class="margin-auto" id="tarrif">Tariff</h1>
                    </div>
                    <form>
                        <div class="d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mb-3 mx-3">
                                <div class="panel tab_active small_panel" onclick="choose_tarif(0)" id="tarif_1">
                                    <div style="text-align: center;">
                                        <h3 style="margin: auto;">Personal</h3>
                                    </div>
                                    <hr>
                                    <div>
                                        <span style="margin: auto;">Description of personal tariff</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mx-3">
                                <div class="panel small_panel" onclick="choose_tarif(1)" id="tarif_2">
                                    <div style="text-align: center;">
                                        <h3 style="margin: auto;">Family</h3>
                                    </div>
                                    <hr>
                                    <div>
                                        <span style="margin: auto;">Description of family tariff</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mx-3">
                                <div class="panel small_panel" onclick="choose_tarif(2)" id="tarif_3">
                                    <div style="text-align: center;">
                                        <h3 style="margin: auto;">Business</h3>
                                    </div>
                                    <hr>
                                    <div>
                                        <span style="margin: auto;">Description of business tariff</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form_block">
                                <input type="submit" value="Next Section" id="summary" action="#contact">
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
{% endblock content %}