{% extends "base.html" %}{% load static %}  {% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/methods.css' %}" />
  
    <div class="container">
      <h2 class="content_title">Time-management methods</h2>
      <div class="blocks_method">
        <!--POMODORO -->
        <div class="block first_block">
          <img class="img_block margin_horizont_auto" src="{% static 'img/pomodoro.png' %}" alt="pomodoro">
          <h3 class="title_block">Pomodoro Technique</h3>
          <p class="text_block">This technique allows you to use a timer to break down your work into intervals. </p>
          <a href="{% url 'timer' %}" class="button_method">Try it!</a>
        </div>

        <!--PLANING -->
        <div class="block second_block">
          <img class="img_block_2 margin_horizont_auto" src="{% static 'img/task.png' %}" alt="task">

          <h3 class="title_block">Plan your day</h3>
          <p class="text_block">Simple daily planning ritual that protects you from chaos and gives direction to your
            every day.</p>
          <a href="{% url 'tasks' %}" class="button_method">Try it!</a>
        </div>

        <!--EISENHOWER -->
        <div class="block third_block">
          <img class="img_block_3 margin_horizont_auto" src="{% static 'img/matrix.png' %}" alt="matrix">
          <h3 class="title_block_3">Eisenhower Method</h3>
          <p class="text_block">This method allows you to organize your tasks into 4 quadrants sorting them by important
            vs unimportant and urgent vs not urgent</p>
          <a href="#" class="button_method">Try it!</a>
        </div>
      </div>

      <div class="blocks">
        <!--SMART -->
        <div class="block first_block">
          <img class="img_block_4 margin_horizont_auto" src="{% static 'img/smart.jpg' %}" alt="smart">
          <h3 class="title_block">SMART</h3>
          <p class="text_block">SMART analysis provides a simple and clear structure for defining goals and objectives.
            It can be used by anyone, anywhere, and does not require special skills in setting SMART tasks.</p>
          <a href="#" class="button_method">Try it!</a>
        </div>

        <img class="img_block_center d-flex mx-auto" src="{% static 'img/what_to_choose.jpg' %}" alt="?">
        <!--PARETO -->
        <div class="block second_block">
          <img class="img_block_4 margin_horizont_auto" src="{% static 'img/8020.jpg' %}" alt="8020">
          <h3 class="title_block">Pareto analysis</h3>
          <p class="text_block">The 80/20 rule is the idea that <b>20% of actions are responsible for 80% of
              outcomes.</b> It helps you prioritize tasks that will solve problems.</p>
          <a href="#" class="button_method">Try it!</a>
        </div>
      </div>
    </div>
{% endblock content %}
