{% extends "base.html" %}{% load static %}  {% block content %}
<script src="https://js.stripe.com/v3/"></script> 
<script src="{% static 'js/main.js' %}"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />


<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <h2 class="account-heading">{{ user.email }}</h2>
        <a class="sub-button" href="{% url 'password_change' %}" style="margin: auto; display: block; max-width: 150px; text-align: center;">Change Password</a>
      </div>
    </div>
</div>


    {% if subscription.status == "active" %}
    <div class="auth-container-sub">
        <h3><b>Your subscription:</b></h3>
        
        <div>
            <h5><i>{{ product.name }}</i></h5>
            <p>
            {{ product.description }}
            </p>
        </div>
    </div>
        
    {% else %}
    <div class="auth-container">
        <div class="task-wrapper">
          <p class="plan"><b>Personal Plan</b></p>
          <p>
            This plan is suitable for those who want to use our site for personal purposes.
            </p>
          <button type="submit" class="sub-button" id="submitBtnPersonal">Subscribe</button>
        </div>
        <div class="task-wrapper">
          <p class="plan"><b>Family Plan</b></p>
          <p>You can add your family members to the subscription. Up to 5 people</p>
          <button type="submit" class="sub-button" id="submitBtnFamily">Subscribe</button>
        </div>
        <div class="task-wrapper">
          <p class="plan"><b>Business Plan</b></p>
          <p>
            You decided to implement time-management system in your business? This plan is just for you! Up to 30</p>
          <button type="submit" class="sub-button" id="submitBtnBusiness">Subscribe</button>
        </div>
      </div> 
        
    {% endif %}
    </div>

    

{% endblock content %}

