{% extends "base.html" %}{% load static %}  {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
{% load crispy_forms_tags %}          

<!--Reset Password-->
<div class="auth-container">
    <h2 class="header-bar">Reset Password</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}                    
        <input class='auth-button' type="submit" value="Send email" style="margin-top: 10px;">
    </form>
</div> 

{% endblock content %}